body {
  font-family: 'Open Sans', sans-serif;
  color: #1f1f1f;
}

header {
  background-color: #00aaff;
  color: white;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 { 
  font-weight: normal;
  font-size: 1.25rem;
}

h2 {
  font-weight: 800;
  margin: 10px;
}

h4 {
  font-weight: normal;
}

main {
  flex-basis: 60%;
  border-right: 1px solid #e8e8e8;
}

nav {
  flex-basis: 20%;
  border-right: 1px solid #e8e8e8;
}

form {
  position: fixed;
  top: 15%;
  left: 40%;
  display: flex;
  flex-direction: column;
}

form > * {
  margin-bottom: 10px;
}

form > div {
  display: flex;
  justify-content: space-between;
}

.icon-label {
  display: flex;
  align-items: center;
  padding: 10px;
}

.icon-label > :first-child {
  margin-right: 10px;
}

.add {
  color: #c8c8c8;
}

#task-info {
  flex-basis: 20%;
  padding: 0 10px;
}

#task-info > :first-child {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

#task-desc {
  font-size: 0.9rem;
  margin-top: 5px;
}

#default-groups {
  border-bottom: 1px solid #e8e8e8;
}

#content {
  display: flex;
  height: 93vh;
}

#add-project {
  border: none;
  background: none;
}

#add-project:hover, .group:hover {
  cursor: pointer;
}

#project-form {
  display: none;
}