body {
  font-family: 'Open Sans', sans-serif;
  color: #1f1f1f;
}

header {
  background-color: #00aaff;
  color: white;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 { 
  font-weight: normal;
  font-size: 1.25rem;
}

h2 {
  font-weight: 800;
}

h4 {
  font-weight: normal;
}

main {
  flex-basis: 60%;
  border-right: 1px solid #e8e8e8;
}

nav {
  flex-basis: 20%;
  border-right: 1px solid #e8e8e8;
}

form {
  position: fixed;
  top: 15%;
  left: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

form > * {
  margin-bottom: 10px;
}

form > div {
  display: flex;
  justify-content: space-between;
}

svg {
  flex-shrink: 0;
}

input {
  border: 1px solid #cdc7c2;
  border-radius: 0.25rem;
}

.bold {
  font-weight: 700;
}

.icon-label {
  display: flex;
  align-items: center;
  padding: 10px;
}

.icon-label > :first-child {
  margin-right: 10px;
}

.add {
  color: #c8c8c8;
}

.add:hover, .project-sidebar:hover, svg, #today, #week, #important {
  cursor: pointer;
}

.form-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.project-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.done {
  text-decoration: line-through;
  color: #c8c8c8;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.error {
  border-color: #dc4c3f;
}

.task-form-container {
  display: flex;
}

.column {
  flex-direction: column;
}

#task-info {
  flex-basis: 20%;
  padding: 0 10px;
  margin-top: 10px;
}

#task-info > :first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#task-info > h3 + div {
  font-size: 0.9rem;
  margin-top: 5px;
}

#default-groups {
  border-bottom: 1px solid #e8e8e8;
}

#content {
  display: flex;
  height: 93vh;
}

#add-project {
  border: none;
  background: none;
}

#title-error {
  color: #dc4c3f;
  font-size: 0.8rem;
}